.header {
    height: 350px;
    background: url('/header.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.5em;
}

.title {
    color:  white;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0 0 2px black;
}

.title hr {
    width: 3em;
    height: 15px;
    opacity: 1;
}

.description {
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 1rem;
     text-align: justify;
}
