.statistiques {
    padding-block: 3em;
    margin-bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/missions.jpg');
    background-size: cover;
}

.ceoSection h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.ceoSection h2 hr {
    height: 5px;
    width: 3em;
    opacity: 1;
    /* color: var(--primary-color); */
    margin: 0 auto;
    margin-top: 1em
}

.ceoSection h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-block: 1em;
    color: var(--primary-color);
    font-size: 2rem;
}

.block {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/section.jpg');
    background-size: cover;
    margin-block: 0;
    padding-block: 5em;
}

.block * {
    color: white ;
}

